*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    padding: 15px 20px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.texto-verde{
    color: rgb(2, 160, 2);
}
.texto-blanco{
    color: #F3F3F3;
}
.texto-rojo{
    color: red;
}
.barra_navegacion{
    display: flex;
    align-items: center;
}
.contenedor-enlaces ul{
    display: flex;
    list-style: none;  
    gap: 15px;
}
.contenedor-enlaces a{
    text-decoration: none;
    color: #F3F3F3;
}
/*parte izquierda*/
.contenedor-menu{
    display: flex;
    padding: 40px 15px;
    justify-content: space-evenly;
}
.menu-delivery{
    background-image: url('../img/delivery.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 490px;
    height: 350px;
    position: relative;
}
.titulo-delivery{
    position: absolute;
    font-size: 24px;
    top: 20px;
    left: 20px;
    font-weight: bold;
}
/*parte derecha*/
.menu-podio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #FFFFFF;
}
.titulo-podio{
    font-weight: bold;
    font-size: 24px;
    padding-left: 60px ;
}
.menu-pizzas{
    display: flex;
    align-items: center;
    gap: 60px;
}
.menu-top{
    font-size: 16px;
    font-weight: bold;
}
.menu-top p{
    margin-bottom: 20px;
    font-weight: bold;
}
.menu-top ol{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left:  20px; 
}
footer{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 155px;
}
.pie-enlaces ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.pie-enlaces li{
    list-style-type: none;
}
.pie-enlaces a{
    color: #F3F3F3;
    text-decoration: none;
}